.card {
  background-color: #212529;
  height: 420px;
  width: 370px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.content {
  padding: 15px;
}

.main-text {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media only screen and (max-width: 360px) {
  .card {
    width: 90%;
  }
}
