body {
  font-family: "Roboto", sans-serif;
  background-color: #303440 !important;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 576px) {
  header nav {
    height: 80px;
  }
}

main {
  margin-top: 100px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
